meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title farmer-one-registration-form
link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi", crossorigin="anonymous")
link(rel="stylesheet", href="/css/main.css")
nav.navbar.navbar-expand-lg
  .container
    a.navbar-brand(href="#") U Farm
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarScroll", aria-controls="navbarScroll", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarScroll
      ul.navbar-nav.ms-auto.my-2.my-lg-0(style="--bs-scroll-height: 100px;")
        li.nav-item
          a.nav-link(href="#") Home
        li.nav-item
          a.nav-link(href="#") Products
        li.nav-item
          a.nav-link(href="#") Account
section#productUpload
  .container.justify-content-center
    h3.text-center Farmer-One-Registration
    form.row-g-(action="/register", method="post")
      .row
        .col-md-6
          label.form-label(for="firstName") First Name
          input.form-control#firstName(name="firstName" type="text" value="" required)
        .col-md-6
          label.form-label(for="lastName") Last Name
          input.form-control#lastName(name="lastName" type="text" value="" required)
        div
          .row
            .col-md-4
              label.form-label(for="uniqueId") Unique Id
              input.form-control#uniqueId(name="uniqueId" type="text" value="" required)
            .col-md-4
              label.form-label(for="NIN") NIN
              input.form-control#NIN(name="NIN" type="text" value="")
            .col-md-4
              label.form-label(for="wardName") Ward Name
              select#wardName.form-select(name="wardName" value="")
                option(selected) Choose...
                option Massaja A
                option Massaja B
                option Massaja C
                option Massaja D
          .row
            .col-md-4
              label.form-label(for="gender") Gender
              select#gender.form-select(name="gender" value="")
                option(selected) Choose...
                option(value="male") Male
                option(value="female") Female
                option(value="Other") Other
            .col-md-4
              label.form-label(for="phoneNumber") Phone Number
              input.form-control#phoneNumber(name="phoneNumber" type="text" value="")
            .col-md-4
              label.form-label(for="dateOfBirth") Date of birth
              input.form-control#dateOfBirth(name="dateOfBirth" type="date" value="")
          .row
            .col-md-4
              label.form-label(for="activitiesUndertaken") Activities Undertaken
              select#activitiesUndertaken.form-select(name="activitiesUndertaken" value="activitiesUndertaken")
                option(selected) Choose...
                option Weeding
                option Harvesting
                option Planting
                option Value Addition
            .col-md-4
              label.form-label(for="residenceType") Residence Type
              select#residenceType.form-select(name="residenceType" value="residenceType")
                option(selected) Choose...
                option Permanent
                option Temporary
            .col-md-4
                label.form-label(for="periodOfStay") Period of stay
                select#periodOfStay.form-select(name="periodOfStay" value="periodOfStay")
                  option(selected) Choose...
                  option 1
                  option 2
                  option 3
                  option 4
                  option 5
                  option 6
                  option 7
                  option 8
                  option 9
                  option 10
          .row
            .col-md-4
              label.form-label(for="registrationDate") Date of Registration
              input.form-control#registrationDate(name="registrationDate" type="date" value="registrationDate")
            .col-md-4.py-4
              label.form-label(for="directions") Directions
              input.form-control-lg#directions(name="directions" type="text" value="directions")
            .col-md-4
              label.form-label(for="role") Role
              select#role.form-select(name="role" )
                  option(selected) Choose...
                  option(value="farmerOne") Farmer One
          .row
            .col-md-4
              label.form-label(for="password") Password
              input.form-control#password(name="password" type="password" value="" required)
          .row
            .col-12.text-center.py-4
              button.btn.btn-primary(type="submit") Register
section#footer
  .container.py-5.bg-grey.fluid
    .row
      .col.ms-auto.text-center
        hr
        p1 Copyright © 2022 Cohort-12 U Farm Initiatitive
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3", crossorigin="anonymous")