meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Product Upload form
link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi", crossorigin="anonymous")
link(rel="stylesheet", href="css/main.css")
nav.navbar.navbar-expand-lg
  .container
    a.navbar-brand(href="#") U Farm
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarScroll", aria-controls="navbarScroll", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarScroll
      ul.navbar-nav.ms-auto.my-2.my-lg-0(style="--bs-scroll-height: 100px;")
        li.nav-item
          a.nav-link(href="#") Home
        li.nav-item
          a.nav-link(href="#") Products
        li.nav-item
          a.nav-link(href="#") Account
section#productUpload
  .container.justify-content-center
    
    form.row.g-3(action="/productUpload", enctype ="multipart/form-data" method="post")
      h3.text-center Product Upload Form 
      //- #{currentUser.firstName}
      //- .row
      //-   .col-md-6
      //-     label.form-label(for="firstName") First Name
      //-     input.form-control#firstName(type="text" value="")
      //-   .col-md-6
      //-     label.form-label(for="lastName") Last Name
      //-     input.form-control#lastName(type="text" value="")
      .row
        .col-md-6
          label.form-label(for="supplierId") Supplier Id
          select#supplierId.form-select(name="supplierId")
              if currentUser   
                           option(value=currentUser._id) #{currentUser.firstName +" "+ currentUser.lastName}
              
        //-   //- input.form-control#supplierId(name="supplierId" type="text" value="")
        //- //- .col-md-6
        //- //-   label.form-label(for="NIN") NIN
        //- //-   input.form-control#NIN(type="text" value="")
      .row
        .col-md-4
          label.form-label(for="produceName") Produce Name
          input.form-control#produceName(name="produceName" type="text" value="")
        .col-md-4
          label.form-label(for="produceQuantity") Produce Quantity
          input.form-control#produceQuantity(name="produceQuantity" type="text" value="")
        .col-md-4
            label.form-label(for="paymentMethod") Payment Method
            select#deliveryMode.form-select(name="paymentMethod")
              option(selected) Choose...
              option(value="Mobile Money") Mobile Money
              option(value="Cash") Cash
      .row
        .col-md-4
          label.form-label(for="price") Price
          input.form-control#price(type="text", placeholder="" name="price" value="")
        .col-md-4
          label.form-label(for="produceType") Produce Type
          select#produceType.form-select(name="produceType")
            option(selected) Choose...
            option(value="Organic") Organic
            option(value="Non-Organic") Non-Organic
        .col-md-4
          label.form-label(for="wardName") Ward Name
          select#wardName.form-select(name="wardName")
                    if currentUser 
                          option(value="") Choose...
                          option(value = currentUser._id) #{currentUser.wardName}
                  

        //-     option(selected) Choose...
        //-     option Massaja A
        //-     option Massaja B
        //-     option Massaja C
        //-     option Massaja D
        //- div.
          
          
        .row
          .col-md-4
            label.form-label(for="deliveryMode") Delivery Mode
            select#deliveryMode.form-select(name="deliveryMode")
              option(selected) Choose...
              option(value="InStorePickUp") Pick-Up
              option(value="Home Delivery") Delivery
          .col-md-4
            label.form-label(for="productUploadDate") Date of Upload
            input.form-control#productUploadDate(type="date" name="productUploadDate")
          .col-md-4
              label.form-label(for="productImage") Product Image
              input.form-control#productImage(type="file" name="productImage")
        .col-12.text-center.py-4
          button.btn.btn-primary(type="submit") Upload
section#footer
  .container.py-5.bg-grey.fluid
    .row
      .col.ms-auto.text-center
        hr
        p1 Copyright © 2022 Cohort-12 U Farm Initiatitive
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3", crossorigin="anonymous")