meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title U Farm Products
link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi", crossorigin="anonymous")
link(rel="stylesheet", href="/css/main.css")
nav.navbar.navbar-expand-lg
  .container
    a.navbar-brand(href="#") U Farm
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarScroll", aria-controls="navbarScroll", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarScroll
      ul.navbar-nav.ms-auto.my-2.my-lg-0
        li.nav-item
          a.nav-link(href="#") Home
        li.nav-item
          a.nav-link(href="#") Products
        li.nav-item
          a.nav-link(href="#") Account
section.productPage
  .container.py-5
    .row
      .col-lg-3.text-center
        .card.border-0.bg-light.mb-2
          .card-body
            img.img-fluid(src="./images/bananas.png", alt)
        h6 Bananas
        p Ugx. 6000
      .col-lg-3.text-center
        .card.border-0.bg-light.mb-2
          .card-body
            img.img-fluid(src="./images/beans.jpg", alt)
        h6 Beans
        p Ugx. 6000
      .col-lg-3.text-center
        .card.border-0.bg-light.mb-2
          .card-body
            img.img-fluid(src="./images/Eggs.jpg", alt)
        h6 Eggs
        p Ugx. 6000
      .col-lg-3.text-center
        .card.border-0.bg-light.mb-2
          .card-body
            img.img-fluid(src, alt)
        h6 Cucumber
        p Ugx. 6000
      .col-lg-3.text-center
        .card.border-0.bg-light.mb-2
          .card-body
            img.img-fluid(src="./images/rice.jpg", alt)
        h6 Rice
        p Ugx. 6000
      .col-lg-3.text-center
        .card.border-0.bg-light.mb-2
          .card-body
            img.img-fluid(src="./images/onions.jpg", alt)
        h6 Onions
        p Ugx. 6000
      .col-lg-3.text-center
        .card.border-0.bg-light.mb-2
          .card-body
            img.img-fluid(src="./images/plantain.jpg", alt)
        h6 Plantain
        p Ugx. 6000
      .col-lg-3.text-center
        .card.border-0.bg-light.mb-2
          .card-body
            img.img-fluid(src="./images/red_pepper.jpg", alt)
        h6 Red Pepper
        p Ugx. 6000
      .col-lg-3.text-center
        .card.border-0.bg-light.mb-2
          .card-body
            img.img-fluid(src="./images/carrots.jpg", alt)
        h6 Carrots
        p Ugx. 6000
      .col-lg-3.text-center
        .card.border-0.bg-light.mb-2
          .card-body
            img.img-fluid(src="./images/irish_potatoes.jpg", alt)
        h6 Irish potatoes
        p Ugx. 6000
      .col-lg-3.text-center
        .card.border-0.bg-light.mb-2
          .card-body
            img.img-fluid(src="./images/Egg_plant.jpg", alt)
        h6 Egg Plant
        p Ugx. 6000
      .col-lg-3.text-center
        .card.border-0.bg-light.mb-2
          .card-body
            img.img-fluid(src="./images/tomatoes.jpg", alt)
        h6 Tomatoes
        p Ugx. 6000
      .col-lg-3.text-center
        .card.border-0.bg-light.mb-2
          .card-body
            img.img-fluid(src="./images/spring_onion.jpg", alt)
        h6 Spring Onion
        p Ugx. 6000
      .col-lg-3.text-center
        .card.border-0.bg-light.mb-2
          .card-body
            img.img-fluid(src="./images/cabbage.jpg", alt)
        h6 Cabbage
        p Ugx. 6000
      .col-lg-3.text-center
        .card.border-0.bg-light.mb-2
          .card-body
            img.img-fluid(src="./images/cucumber.jpg", alt)
        h6 Cucumber
        p Ugx. 6000
      .col-lg-3.text-center
        .card.border-0.bg-light.mb-2
          .card-body
            img.img-fluid(src="./images/Green_Bell_pepper.jpg", alt)
        h6 Green Bell Pepper
        p Ugx. 6000
section#footer
  .container.py-5.bg-grey.fluid
    .row
      .col.ms-auto.text-center
        hr
        p1 Copyright © 2022 Cohort-12 U Farm Initiatitive
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3", crossorigin="anonymous")